<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showapi_res_body</key>
	<dict>
		<key>pagebean</key>
		<dict>
			<key>allNum</key>
			<integer>627</integer>
			<key>allPages</key>
			<integer>32</integer>
			<key>contentlist</key>
			<array>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>中国台湾网3月2日讯民进党重返执政力推“转型正义”，第一枪瞄准追讨国民党的不当党产，引发蓝绿阵营激烈攻防。据台湾《中国时报》报道，新党主席郁慕明昨天接受访问时痛批，若依绿营清算党产逻辑，那么应先将当年国民党带来台湾的黄金和故宫文物归还给国民党或大陆。他呼吁，国民党员应大声捍卫，“面对党...</string>
					<key>imageurls</key>
					<array>
						<dict>
							<key>height</key>
							<integer>500</integer>
							<key>url</key>
							<string>http://himg2.huanqiu.com/attachment2010/2016/0302/08/51/20160302085134962.jpg</string>
							<key>width</key>
							<integer>656</integer>
						</dict>
					</array>
					<key>link</key>
					<string>http://taiwan.huanqiu.com/roll/2016-03/8635787.html</string>
					<key>pubDate</key>
					<string>2016-03-02 01:50:37</string>
					<key>source</key>
					<string>环球网</string>
					<key>title</key>
					<string>郁慕明：若清算党产 应归还国民党黄金和故宫文物</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>中新网3月2日电从江西南昌出土的汉代海昏侯墓中发掘了近两万件珍贵文物，其中的瓷器、玉器、青铜器等441组件文物今日在首都博物馆亮相。该墓的发掘历时5年时间，其墓主身份一直引发猜测。据央视新闻频道“新闻直播间”消息，在展览现场的新闻发布会上，考古人员确认，墓主身份确为此前第一代海昏侯、汉...</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://www.chinanews.com/cul/2016/03-02/7780165.shtml</string>
					<key>pubDate</key>
					<string>2016-03-02 01:50:37</string>
					<key>source</key>
					<string>中国新闻网</string>
					<key>title</key>
					<string>海昏侯墓墓主确系汉废帝刘贺 三批文物确认身份</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>原标题：海昏侯墓墓主就是刘贺现场法制晚报讯（记者赵颖彦）海昏侯墓的墓主人就是第一代海昏侯刘贺！今天上午，《五色炫曜——南昌汉代海昏侯国考古成果展》正式开幕。在开幕式上，对墓主人身份进行“大起底”。这位“富可敌国”的墓主人就是第一代海昏侯刘贺。考古发现内椁室存有刘贺遗骸，腰部...</string>
					<key>imageurls</key>
					<array>
						<dict>
							<key>height</key>
							<integer>366</integer>
							<key>url</key>
							<string>http://himg2.huanqiu.com/attachment2010/2016/0302/20160302092348541.jpg</string>
							<key>width</key>
							<integer>550</integer>
						</dict>
					</array>
					<key>link</key>
					<string>http://china.huanqiu.com/article/2016-03/8636410.html</string>
					<key>pubDate</key>
					<string>2016-03-02 01:40:21</string>
					<key>source</key>
					<string>环球网</string>
					<key>title</key>
					<string>海昏侯国考古成果展证实墓主是刘贺(图)</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>“中非新闻交流中心”第三期项目正式启动人民网北京3月2日电（记者杨牧）“中非新闻交流中心”2016年项目3月1日在京正式启动。20余位来自非洲国家的记者将开启在华为期10个月的培训和采访活动。外交部新闻司司长陆慷、中国公共外交协会副会长吕凤鼎出席当天的开班仪式并致辞。中国商务部...</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://world.people.com.cn/n1/2016/0302/c1002-28163190.html</string>
					<key>pubDate</key>
					<string>2016-03-02 01:40:21</string>
					<key>source</key>
					<string>人民网</string>
					<key>title</key>
					<string>中非新闻交流2016年项目启动 20位非洲记者来华研习</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>善后，善为改革解除后顾之忧2月1日，五大战区正式亮相，军区善后办宣告成立。时至今日，善后办恰好满月。何谓“善后”？《孙子·作战》中说：“夫钝兵挫锐，屈力殚货，则诸侯乘其弊而起，虽有智者，不能善其后矣。”对军区善后办来说，善后如同断后，承担着为改革解除后顾之忧的重任，目的...</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://www.chinanews.com/mil/2016/03-02/7780097.shtml</string>
					<key>pubDate</key>
					<string>2016-03-02 01:40:21</string>
					<key>source</key>
					<string>中国新闻网</string>
					<key>title</key>
					<string>军报：军区善后办为改革解除后顾之忧 勿心理失衡</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>记者昨天获悉，市政府常务会已审议通过《北京市关于加强村级医疗卫生机构和乡村医生队伍建设的实施方案》。今年年底前，乡村医生将由人员管理转为岗位管理，每月政府补助拟从1600元增至3500元。2019年年底前，本市村村都有卫生室，实现村级医疗卫生服务全覆盖。村里每千人至少一名村医...</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://health.huanqiu.com/health_news/2016-03/8636333.html</string>
					<key>pubDate</key>
					<string>2016-03-02 01:40:21</string>
					<key>source</key>
					<string>环球网</string>
					<key>title</key>
					<string>北京今年村医月补助拟增至3500元 实行岗位管理</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>　　参考消息网3月2日报道西媒称，西班牙埃萨德商学院对500名外国游客进行的问卷调查显示，信任感、效率和安全在吸引外国游客方面可能比价格更重要。71%的受访游客认为，好客程度以及服务质量是选择度假地的关键因素。在不同国籍的游客中，中国游客对好客程度和受到的接待最为敏....</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://news.sina.com.cn/c/nd/2016-03-02/doc-ifxpvysx1811825.shtml</string>
					<key>pubDate</key>
					<string>2016-03-02 01:38:28</string>
					<key>source</key>
					<string>新浪</string>
					<key>title</key>
					<string>外媒：中国游客对好客程度敏感 希望被礼貌对待</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>贺优琳。资料图今年，我国全面放开二孩生育。二孩政策完善成为关注热点。全国人大代表朱列玉、贺优琳等提出了对生育进行奖励补贴以及延长产假等建议。生育意愿已经非常低下代表建议奖励二孩生育。全国人大代表、广东中山纪念中学原校长贺优琳在建议中提出“能生”是否“敢生”？据他了解，实...</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://news.xhby.net/system/2016/03/02/028001823.shtml</string>
					<key>pubDate</key>
					<string>2016-03-02 01:30:57</string>
					<key>source</key>
					<string>新华报业网</string>
					<key>title</key>
					<string>广东代表建议：二孩产假增一个月</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>【环球时报综合报道】台湾“立法院”新一届“立委”会期才开不过一个月，还未进入法案审查期，掌握“立法院稳定多数”的民进党便已显示出迫不及待要大干一场的姿态。继前些天频频抛出“清算国民党”的法案，1日又通过媒体放风说，可能要将马英九执政8年间与大陆签订的20多项两岸协议，包括服贸、货贸...</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://taiwan.huanqiu.com/article/2016-03/8634751.html</string>
					<key>pubDate</key>
					<string>2016-03-02 01:30:57</string>
					<key>source</key>
					<string>环球网</string>
					<key>title</key>
					<string>绿营狂言重审两岸协议 把两岸合作当作儿戏</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>　　参考消息网3月2日报道港媒称，前段时间，广西南宁市马山县一对16岁新郎新娘的婚礼引起关注。有媒体调查发现，在马山县多个乡镇都有许多少年早婚，他们多为留守少年、奉子成婚。　　据香港《南华早报》网站3月1日报道，早前媒体称，这两人是马山县林圩镇的张家乐和吴明敏，两....</string>
					<key>imageurls</key>
					<array>
						<dict>
							<key>height</key>
							<integer>345</integer>
							<key>url</key>
							<string>http://n.sinaimg.cn/news/transform/20160302/It1C-fxpvysx1811679.jpg</string>
							<key>width</key>
							<integer>550</integer>
						</dict>
					</array>
					<key>link</key>
					<string>http://news.sina.com.cn/c/nd/2016-03-02/doc-ifxpvysx1811683.shtml</string>
					<key>pubDate</key>
					<string>2016-03-02 01:30:20</string>
					<key>source</key>
					<string>新浪</string>
					<key>title</key>
					<string>外媒关注中国农村早婚：对性随意 适龄女孩稀缺</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>　　原标题：反家暴法首案：丈夫胳膊被妻子打脱位　　记者李东华　　晨报讯中国首部《反家庭暴力法》于昨天起开始实施。当天上午9点，马先生走进上海市浦东新区人民法院诉讼服务中心，向立案法官递交了民事起诉状，要求离婚，理由是妻子经常暴力虐待他。　　这也是《反家庭暴....</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://news.sina.com.cn/c/2016-03-02/doc-ifxpvzah8525260.shtml</string>
					<key>pubDate</key>
					<string>2016-03-02 01:29:37</string>
					<key>source</key>
					<string>新浪</string>
					<key>title</key>
					<string>上海反家暴法首案：丈夫胳膊被妻子打脱位</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>　　原标题：结婚3-5年最易发生家暴　　晨报记者谢克伟　　反家暴法昨起正式实施，当天，上海市妇儿工委公布了《上海反家庭暴力工作情况报告》。《报告》显示：家暴受害者的年龄绝大多数集中在26岁到45岁之间。从投诉数据看，受害者占比最高的是拥有大专和本科以上学历者。　....</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://news.sina.com.cn/c/2016-03-02/doc-ifxpvzah8525256.shtml</string>
					<key>pubDate</key>
					<string>2016-03-02 01:29:36</string>
					<key>source</key>
					<string>新浪</string>
					<key>title</key>
					<string>上海报告：结婚3-5年最易发生家暴</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>　　参考消息网3月2日报道西媒称，国有的巴西石油公司宣布，该公司29日与中国国家开发银行签署了一项协议，国开行将为该公司提供100亿美元融资，以换取巴西石油公司向中国企业供应原油。　　据埃菲社2月29日报道，巴西石油公司表示，这项协议是该公司和中国国开行2015年签署的合....</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://news.sina.com.cn/c/nd/2016-03-02/doc-ifxpvysv5079442.shtml</string>
					<key>pubDate</key>
					<string>2016-03-02 01:27:36</string>
					<key>source</key>
					<string>新浪</string>
					<key>title</key>
					<string>中国将为巴西石油公司提供100亿美元贷款</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>图片来源于Biffa官网　　参考消息网3月2日报道英媒称，中国一家有政府背景的垃圾处理公司正在与美国私募股权投资公司巨头阿波罗公司以10亿英镑的价格竞购英国比法公司。　　据英国《星期日泰晤士报》网站2月28日报道，市政部门的消息人士本周末称，至少还有一位来自东南亚的竞....</string>
					<key>imageurls</key>
					<array>
						<dict>
							<key>height</key>
							<integer>426</integer>
							<key>url</key>
							<string>http://n.sinaimg.cn/news/crawl/20160302/NVEw-fxpwmrp0385751.png</string>
							<key>width</key>
							<integer>600</integer>
						</dict>
					</array>
					<key>link</key>
					<string>http://news.sina.com.cn/c/nd/2016-03-02/doc-ifxpvysv5079424.shtml</string>
					<key>pubDate</key>
					<string>2016-03-02 01:26:07</string>
					<key>source</key>
					<string>新浪</string>
					<key>title</key>
					<string>中企10亿英镑竞购英国老牌垃圾处理公司</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>资料图：这是煤城鹤岗的重工业基地（2012年9月24日摄）。新华社记者王凯摄　　参考消息网3月2日报道外媒称，中国人力资源和社会保障部部长尹蔚民29日表示，中国今年煤炭和钢铁行业化解产能过剩涉及分流安置人员分别为130万和50万，今年就业形势比较复杂任务艰巨。　　据路透....</string>
					<key>imageurls</key>
					<array>
						<dict>
							<key>height</key>
							<integer>332</integer>
							<key>url</key>
							<string>http://n.sinaimg.cn/news/crawl/20160302/jgRu-fxpwmrp0385748.jpg</string>
							<key>width</key>
							<integer>500</integer>
						</dict>
					</array>
					<key>link</key>
					<string>http://news.sina.com.cn/c/nd/2016-03-02/doc-ifxpvysx1811630.shtml</string>
					<key>pubDate</key>
					<string>2016-03-02 01:23:57</string>
					<key>source</key>
					<string>新浪</string>
					<key>title</key>
					<string>中国煤钢行业裁员180万 外媒:各国均临严酷调整</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>近日,有网友在香港机场免税店偶遇张柏芝，只见她踩着滑板车在收银台结账，看来买到了心仪化妆品，美美哒准备离开。3月1日，有网友晒出偶遇张柏芝的照片，照片中，张柏芝穿着黑上衣牛仔裤，踩着滑板，打扮很休闲。</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://news.xhby.net/system/2016/03/02/027999974.shtml</string>
					<key>pubDate</key>
					<string>2016-03-02 01:20:39</string>
					<key>source</key>
					<string>新华报业网</string>
					<key>title</key>
					<string>张柏芝踩滑板血拼 网友：时尚时尚最时尚</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>开车乱丢烟头，烧了自己的车和货从车窗扔出的烟头被风吹进货厢，引发大火损失两万元在驾驶途中抽支烟，竟然引发一场火灾。更要命的是：烟头点燃的是自家的车。这是昨天中午发生在高速路上的真事。现场：高速路上货车起火3月1日中午12时许，市交通行政执法总队高速公路第四支队二大队...</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://www.chinanews.com/sh/2016/03-02/7779963.shtml</string>
					<key>pubDate</key>
					<string>2016-03-02 01:20:39</string>
					<key>source</key>
					<string>中国新闻网</string>
					<key>title</key>
					<string>驾驶员开车乱丢烟头 结果烧了自己的车和货(图)</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>　　原标题：海归女孩兼任上海团市委副书记　　当海归女孩史逸婵和创业青年于杰身着正装、庄重地鞠躬90度时，主席台下掌声雷动。这是他们第一次亮相。他们的出现，标志着上海共青团深化改革工作进入新阶段。　　挂职兼职来自不同行业　　2月29日召开的团上海市委第十四届七次....</string>
					<key>imageurls</key>
					<array>
						<dict>
							<key>height</key>
							<integer>260</integer>
							<key>url</key>
							<string>http://n.sinaimg.cn/translate/20160302/N7Yo-fxpvyss1339805.jpg</string>
							<key>width</key>
							<integer>300</integer>
						</dict>
					</array>
					<key>link</key>
					<string>http://news.sina.com.cn/o/2016-03-02/doc-ifxpvutf3821777.shtml</string>
					<key>pubDate</key>
					<string>2016-03-02 01:19:38</string>
					<key>source</key>
					<string>新浪</string>
					<key>title</key>
					<string>29岁女孩兼任上海团市委副书记:我更了解90后</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>原标题：我省今年将建20多个示范性房车营地2月29日，记者从甘肃省交通厅获悉，我省今年底将打造首批20个以上的示范性房车营地，计划用3年时间建设200个左右符合国际标准的房车露营地。据介绍，2016年，我省将启动示范性房车营地项目，计划在河西四郡（武威市、张掖市、酒泉市、敦...</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://www.gs.xinhuanet.com/news/2016-03/02/c_1118205345.htm</string>
					<key>pubDate</key>
					<string>2016-03-02 01:10:54</string>
					<key>source</key>
					<string>新华网</string>
					<key>title</key>
					<string>甘肃省今年将建20多个示范性房车营地 可临时露宿</string>
				</dict>
				<dict>
					<key>channelId</key>
					<string>5572a108b3cdc86cf39001cd</string>
					<key>channelName</key>
					<string>国内焦点</string>
					<key>desc</key>
					<string>记者昨天获悉，市政府常务会已审议通过《北京市关于加强村级医疗卫生机构和乡村医生队伍建设的实施方案》。今年年底前，乡村医生将由人员管理转为岗位管理，每月政府补助拟从1600元增至3500元。2019年年底前，本市村村都有卫生室，实现村级医疗卫生服务全覆盖。村里每千人至少一名村医...</string>
					<key>imageurls</key>
					<array/>
					<key>link</key>
					<string>http://news.xinhuanet.com/health/2016-03/02/c_128767243.htm</string>
					<key>pubDate</key>
					<string>2016-03-02 01:10:54</string>
					<key>source</key>
					<string>新华网</string>
					<key>title</key>
					<string>北京村医月补助拟增至3500元</string>
				</dict>
			</array>
			<key>currentPage</key>
			<integer>8</integer>
			<key>maxResult</key>
			<integer>20</integer>
		</dict>
		<key>ret_code</key>
		<integer>0</integer>
	</dict>
	<key>showapi_res_code</key>
	<integer>0</integer>
	<key>showapi_res_error</key>
	<string></string>
</dict>
</plist>
